.post
  .post__wrapper
    ul.post__list
      each item in post
        li.post__item
          .post__pic(
            style=`background-image: url('${item.src}')`
            aria-label=item.alt
          )
          .post__content
            .post__head
              a.post__title(href='#')= item.title
              .post__info
                .post__tags= item.tags
                button.post__responses(type='button')= item.responses
            .post__body
              .post__text
                p= item.text
                  button.post__more(type='button') (More...)
