include ../modules/section-head

section.section
  .about
    .container
      .section__wrapper.about__wrapper
        +section-head('About me', 'I am a front-end developer from Minsk')
        ul.about__list
          each item in about
            li.about__item
              .about__pic
                span(class=item.icon title=item.iconAlt aria-label=item.iconAlt)
              .about__title= item.title
              .about__subtitle= item.subtitle
              .about__text!= item.text
